<?php

return [
    'project' => [
        'dev' => [
            'host' => '',
            'database' => '',
            'username' => '',
            'password' => '',
        ],
        'test' => [
            ''
        ],
    ],

    'project2' => [
        'dev' => [
            ''
        ],
    ],
];